body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #92b3e8;
}

header {
    background: #7786a8;
    color: #0b100d;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}

h2 {
    border-bottom: 2px solid #a2eebb;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #8fdbb0;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#contact {
    background: #91c2e3;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#contact h2 {
    margin-top: 0;
}

#contact p {
    font-size: 1.1rem;
    line-height: 1.4;
}

#contact strong {
    display: inline-block;
    width: 80px; /* Adjust this width as needed */
}

#contact a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #8bbae3;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
